html{
  background-color: #198754;
}

@media (max-width: 1200px) {
  .image-icons{
    height: 16px;
  }
  .menu{
    display: none ;
  }
};

@media (min-width: 1200px){
  .image-icons{
    display: none;
  }
  .menu{
    display: block ; 
    padding: 0 4px 0 4px;
  };
}; 


@media (max-width: 600px) {
  .input-search{
    margin-top: 10px;
  }
};


.App {
  text-align: center;
  width: 100%;
  transition: 0.5s;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: 0.5s;
}
.container{
  padding-bottom:20px ;
}


/* navbar */
.transitionAndWidthBody{
  width: 70% !important;
}

.transitionAndWidthSideNav{
  width: 30% !important ; 
}
.fillPge{
  padding-bottom:80vh;
  block-size: auto
}

.style_menu_user {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  right: 0px;
  top: 0;
  background-color: rgb(25 135 84);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.navbarSide li:hover{
  background-color: #00a056;
}

.style_menu_user .closebtn {
  position: absolute;
  left: 0px;
  top: 0px;
  border: 0px;
  margin: 0px;
  background-color: rgb(65 186 110 / 0%);
  text-align: left;
  font-size: 32px;
}

.input-search{
  background-color: #21b16e !important;
  border: 0px !important;
  position: relative
}
.search {
  height: 100%;
  top: 0px;
  max-width: fit-content;
  right: 40px;
  position: relative;
}

/* end navbar */

/* scroll */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #00a056 ;
}
::-webkit-scrollbar-thumb{
  background-color: #4ca17a;
  border-radius: 100vh;
}

.style_menu_user::-webkit-scrollbar{
  width: 5px;
}
.style_menu_user::-webkit-scrollbar-track{
  background-color: #00a056;
  border-radius: 100vh;
}
.style_menu_user::-webkit-scrollbar-thumb{
  background-color: #167f4e;
  border-radius: 100vh;
}
/* end scroll */

/* popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(159 159 159 / 79%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99 !important;
}
.popup-inner {
  position: relative;
    padding: 16px;
    width: 100%;
    max-width: 550px;
    border: solid 1px black;
    background-color: rgb(108 117 125 / 33%);
    border-radius: 13% 1%;
}

.popup-inner .close-btn{
  position: absolute;
  top :16px;
  right: 16px;
}
/* end popup */

/* pageUserOrder */
.order{
  display: none;
  transition: opacity 2s ease-out ;
  opacity: 0 
};


a{
  text-decoration: none !important;
};

.img-thumbnail{
  width: 250px ;
  height: 250px !important;
  object-fit: contain ;
};

.credit{
  background: url('https://cdn.pixabay.com/photo/2012/04/01/12/42/credit-card-23250_960_720.png') ;
  background-size: 100% 100%;
  max-width: 18rem
};

/* loaded */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
};
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
};
.numberProducts{
  background-color: red;
    border-radius: 50% 50%;
    font-size: 9px;
    padding: 2px 1px;
    height: 17px;
    width: 15px;
    display: block;
    position: relative;
    top: 5px;
    left: 5px;
};
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #000;
};
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
};
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
};
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
};
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
};
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
};
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
};
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
};
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
};
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
};
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
};
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
};

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
};

/*end loaded */